{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <strong>Daniel Heinze</strong> <br />
    <strong>Contact address:</strong>   <a href="mailto:heinze.business@outlook.com"> Business address</a><br />
    <ul class="nav-list">
        <li><a href="http://devblog.azurewebsites.net/">Blog</a></li>
        <li><a href="https://www.facebook.com/daniel.heinze.777" rel="stylesheet">Facebook</a></li>
        <li><a href="https://twitter.com/starlord_daniel" rel="stylesheet">Twitter</a> </li>
    </ul>
    <!--
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    -->
</address>



{% endblock %}
